In [ ]:
#复合切片
#算数运算
#函数应用
#排名
#重复索引

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas import Series
data = {'city':['sz','sz','sz','bj','bj'],'year':['2015','2016','2017','2016','2016'],'salary':['2.0','2.3','2.5','2.3','2.8']}
df_salary  = DataFrame(data,columns= ['year','city','salary'])
df_salary['AI-skill-level'] = 0
print('df_salary:\n',df_salary)

df_salary:
    year city salary  AI-skill-level
0  2015   sz    2.0               0
1  2016   sz    2.3               0
2  2017   sz    2.5               0
3  2016   bj    2.3               0
4  2016   bj    2.8               0

In [5]:
#复合切片，即行和列的指标,为什么1:3的切片得到的是1-2的数据呢？
df_salary[1:3][['year','city']]

#复合切片，隔行拿,iloc
df_salary.iloc[[0,2,4]][['year','city','salary']]

   year city salary
0  2015   sz    2.0
2  2017   sz    2.5
4  2016   bj    2.8

In [7]:
#数学运算
s1=Series([1.1,-2.2,3.3,4.4],index=['a','c','d','e'])
s2=Series([-5.5,6.6,7.7,8.8,9.9],index=['a','c','e','f','g'])
print('s1:\n',s1)
print('s2:\n',s2)

s1:
 a    1.1
c   -2.2
d    3.3
e    4.4
dtype: float64
s2:
 a   -5.5
c    6.6
e    7.7
f    8.8
g    9.9
dtype: float64

In [12]:
#数据自动对齐
s1+s2
#给NaN赋值，然后相加
s1.add(s2,fill_value=0)
#给NaN赋值，然后相减
s1.sub(s2,fill_value=0)
#除法 div
#乘法 mul
#那么DataFrame也可以用fill_value吗？

a    6.6
c   -8.8
d    3.3
e   -3.3
f   -8.8
g   -9.9
dtype: float64

In [8]:
df1 = DataFrame(np.arange(9).reshape((3,3)),columns=list('abc'),index=['bj','sh','sz'])#随机产生9个数，然后画成一个3*3的表格，指定列为abc,行为bj,sh,sz
df2 = DataFrame(np.arange(12).reshape((4,3)),columns=list('abc'),index=['bj','sh','sz','hz'])
print('df1:\n',df1)
print('df2:\n',df2)

df1:
     a  b  c
bj  0  1  2
sh  3  4  5
sz  6  7  8
df2:
     a   b   c
bj  0   1   2
sh  3   4   5
sz  6   7   8
hz  9  10  11

In [10]:
#DataFrame也有数据自动对齐
df1+df2

       a     b     c
bj   0.0   2.0   4.0
hz   NaN   NaN   NaN
sh   6.0   8.0  10.0
sz  12.0  14.0  16.0

In [13]:
df3=DataFrame(np.random.randn(4,3),columns = list('abc'),index =['bj','sh','sz','gz'] )
print('df3:\n',df3)

df3:
            a         b         c
bj -0.049009  0.542153  0.414655
sh -1.276185  0.382055 -0.934873
sz  0.135531  0.228906  0.633119
gz -0.363061  0.099098  0.299026

In [15]:
#将DataFrame 中的负数全部变成正数？ ————要调用np中的abs()
np.abs(df3)
#将DataFrame 中的数进行平方————power()
np.power(df3,2)

           a         b         c
bj  0.002402  0.293930  0.171939
sh  1.628647  0.145966  0.873988
sz  0.018369  0.052398  0.400839
gz  0.131813  0.009820  0.089417

In [16]:
#返回DataFrame中的最大值和最小值，然后再把最大值和最小值做一个表格
#找出每一列的最大值和最小值
def f(x):
    return Series([x.min(),x.max()],index=['min','max']) 
df3.apply(f)

            a         b         c
min -1.276185  0.099098 -0.934873
max  0.135531  0.542153  0.633119

In [20]:
#格式化
#所有的小数只保留3位
def format(x):
    return '%.3f' %x
df3.applymap(format)

#apply()和applymap()有什么区别？

#其中apply()方法是针对某些行或列进行操作的，而applymap()方法则是针对所有元素进行操作的。

#apply(参数名)
#applymap(函数名)

         a      b       c
bj  -0.049  0.542   0.415
sh  -1.276  0.382  -0.935
sz   0.136  0.229   0.633
gz  -0.363  0.099   0.299

In [23]:
#排列和排名
#换种说法就是排序和排值
s3=Series(range(4),index = ['d','a','b','c'])
print('s3:\n',s3)
#对Series进行排序
s3.sort_index(ascending = 1) #顺序
s3.sort_index(ascending = 0) #逆序

s3:
 d    0
a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
d    0
dtype: int64

In [27]:
df6 = DataFrame(np.arange(8).reshape(2,4),index=['three','one'],columns=['d','a','b','c'])
print('df6:\n',df6)
#对DataFrame进行排序
df6.sort_index()
#对行和列都进行排序
df6.sort_index(axis=1).sort_index()
#同样的DataFrame倒序的话也再加一个条件就行，这些都是参数嘛
df6.sort_index(axis=1,ascending=False).sort_index() #这里表示列是倒序的

df6:
        d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  c  b  a
one    4  7  6  5
three  0  3  2  1

In [29]:
#排名，即排值
s5= Series([7.,-5,10,2,0,12])
print('s5:\n',s5)
s5.rank() #返回的结果是对值进行了排序

#还有其他排序方式

s5:
 0     7.0
1    -5.0
2    10.0
3     2.0
4     0.0
5    12.0
dtype: float64

0    4.0
1    1.0
2    5.0
3    3.0
4    2.0
5    6.0
dtype: float64

In [31]:
#重复索引
#索引是重复的，所以用一个索引的时候可能会返回一个以上的值
s6= Series(range(5),index=['a','a','b','b','c'])
print('s6:\n',s6)
s6['a']
#如果是带有重复索引，那么其值是一个series
#不带有重复索引，其值是一个int

s6:
 a    0
a    1
b    2
b    3
c    4
dtype: int64

a    0
a    1
dtype: int64

In [34]:
#查看某个index是否是重复索引
s6.index.unique() #看看哪些index是unique的，哪些不是
s6.index.is_unique #判断整个Series的index是不是都是unique，只要有一个不满足unique，就返回False

Index(['a', 'b', 'c'], dtype='object')