In [ ]:
#数据,统计方法
#相关系数，协方差
#计数，成员资格
#缺失数据处理
#层次化索引

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas import Series
#常用数学、统计方法
df0=DataFrame([[1.1,np.nan],[2.2,-3.3],[np.nan,np.nan],[-4.4,5.5]],index=['a','b','c','d'],columns=['one','two'])
print('df0:\n ',df0)

df0:
     one  two
a  1.1  NaN
b  2.2 -3.3
c  NaN  NaN
d -4.4  5.5

In [3]:
#对列求和
df0.sum()
#对行求和
df0.sum(axis=1)
#如果想保留NaN就加入一个限制条件（或者说是改变默认的限制条件）
df0.sum(axis=1,skipna=False)

a    1.1
b   -1.1
c    0.0
d    1.1
dtype: float64

In [12]:
#描述性统计describe(),一步到位
a=df0.describe()
print(type(a))
print(a)
a.loc['count'] #又忘了怎么返回行的数据，要用loc

<class 'pandas.core.frame.DataFrame'>
            one      two
count  3.000000  2.00000
mean  -0.366667  1.10000
std    3.536005  6.22254
min   -4.400000 -3.30000
25%   -1.650000 -1.10000
50%    1.100000  1.10000
75%    1.650000  3.30000
max    2.200000  5.50000

one    3.0
two    2.0
Name: count, dtype: float64

In [13]:
# 2. 相关系数和协方差
#创建一个Series
s0=Series(['c','a','d','a','a','b','b','c','c'])
print('s0:\n',s0)

s0:
 0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [16]:
#4. 唯一值，计数和成员资格判断unique()
uniques = s0.unique()
#打印出s0中的唯一值，去重之后的值
#print(uniques)
#对唯一值进行排序，sort()
uniques.sort()
print(uniques)

#这里的唯一值也是一个Series

['a' 'b' 'c' 'd']

In [17]:
#计数，说白了就是数一下，列表中某个元素出现了多少次，这个超有用的
#value_counts()
s0.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [19]:
#某个元素在哪里？a在哪里？isin()
mask = s0.isin(['a'])
#返回一个bool 索引
#利用bool索引提取a，哇这是什么操作
#mask就是一串bool索引
s0[mask]

1    a
3    a
4    a
dtype: object

In [20]:
#布尔索引2，其实可以得到不止一个元素的布尔索引
mask2 = s0.isin(['a','c'])
s0[mask2]

0    c
1    a
3    a
4    a
7    c
8    c
dtype: object

In [21]:
#3. 缺失值的处理，即处理Nan
s1=Series([1,np.nan,-2,np.nan,3])
#删除缺失值dropna()
s1.dropna()

0    1.0
2   -2.0
4    3.0
dtype: float64

In [24]:
df1=DataFrame([[1,-2,3],[4,np.nan,np.nan],[np.nan,np.nan,np.nan],[np.nan,5.,6.]]) #里面每一个[]都是每一行的数据
print('df1:\n',df1)
#删除DataFrame的缺失值
df1.dropna() #这里是把只要有缺失值的行都删掉了，但是应该要删掉全部都是缺失值的行
df1.dropna(how='all')

df1:
      0    1    2
0  1.0 -2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  5.0  6.0

     0    1    2
0  1.0 -2.0  3.0
1  4.0  NaN  NaN
3  NaN  5.0  6.0

In [27]:
#去掉列的缺失值,axis=1
df1[4] = np.nan
print(df1)
df1.dropna(axis=1,how='all')

     0    1    2   4
0  1.0 -2.0  3.0 NaN
1  4.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  5.0  6.0 NaN

     0    1    2
0  1.0 -2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  5.0  6.0

In [33]:
df2=DataFrame(np.random.randn(7,3))
df2.loc[:4,1]=np.nan  #给第4行以前和第一列赋值
print(df2)
df2.loc[:2,2]=np.nan #给第2行以前和第二列赋值
print(df2)
#给缺失值填充数据,fillna()
df2.fillna(0)
#给指定的列填充缺失值
df2.fillna({1:1,2:-3})

          0         1         2
0 -0.156383       NaN -0.462537
1  0.525349       NaN -1.718708
2  0.715446       NaN -0.240975
3  0.506950       NaN -0.301284
4  0.473338       NaN -0.623922
5 -1.241965 -0.852558 -0.749330
6 -1.695131 -0.266183  0.398779
          0         1         2
0 -0.156383       NaN       NaN
1  0.525349       NaN       NaN
2  0.715446       NaN       NaN
3  0.506950       NaN -0.301284
4  0.473338       NaN -0.623922
5 -1.241965 -0.852558 -0.749330
6 -1.695131 -0.266183  0.398779

          0         1         2
0 -0.156383  1.000000 -3.000000
1  0.525349  1.000000 -3.000000
2  0.715446  1.000000 -3.000000
3  0.506950  1.000000 -0.301284
4  0.473338  1.000000 -0.623922
5 -1.241965 -0.852558 -0.749330
6 -1.695131 -0.266183  0.398779

In [40]:
#4. 层次化的索引
df3=Series(np.random.randn(10),index=[['a','a','a','b','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,2,3]])
print('df3:\n',df3)
#什么叫做层次化索引？就是索引不止一层
df3['b'] #返回的是3个数
df3['b'][1] #返回一个数字
#切片进行返回（切片的一个问题就是不能隔着取）
df3['b':'c']
#隔行取数据,再用一个列表进行选取
df3[['b','d']]
#将全部的第3行都取出来
df3[:,3] #即第一个索引全部选择，但是指定第二个索引

df3:
 a  1    0.652821
   2    0.350428
   3    0.323644
b  1    0.602479
   2    0.167052
   3   -0.771135
c  1    0.138821
   2    1.480981
d  2   -0.434763
   3   -0.799259
dtype: float64

a    0.323644
b   -0.771135
d   -0.799259
dtype: float64

In [43]:
#stack()和unstack()
df4=df3.unstack() #把层次化索引变成了DataFrame的样子
print(df4)
df4.unstack()

          1         2         3
a  0.652821  0.350428  0.323644
b  0.602479  0.167052 -0.771135
c  0.138821  1.480981       NaN
d       NaN -0.434763 -0.799259

1  a    0.652821
   b    0.602479
   c    0.138821
   d         NaN
2  a    0.350428
   b    0.167052
   c    1.480981
   d   -0.434763
3  a    0.323644
   b   -0.771135
   c         NaN
   d   -0.799259
dtype: float64

In [45]:
#更复杂的层次化索引
df5 = DataFrame(np.arange(12).reshape((4,3)),index=[['a','a','b','b'],[1,2,1,2]],columns=[['bj','bj','sz'],['G','R','G']])
#行有2行，列有2列
print(df5)
#如何解释这一数据？
#有两个城市bj和sz，城市里有两种树1和2，同时城市里有两个区域。但是bj的树有两种颜色，sz的树只有一种颜色

    bj      sz
     G   R   G
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [46]:
#给index和columns命名
df5.index.names = ['zone1','zone2']
df5.columns.names = ['city','color']
print(df5)

city        bj      sz
color        G   R   G
zone1 zone2
a     1      0   1   2
      2      3   4   5
b     1      6   7   8
      2      9  10  11

In [52]:
#对于复杂的DataFrame进行取值
df5['bj']

color        G   R
zone1 zone2
a     1      0   1
      2      3   4
b     1      6   7
      2      9  10

In [53]:
df5[['bj','sz']]

city        bj      sz
color        G   R   G
zone1 zone2
a     1      0   1   2
      2      3   4   5
b     1      6   7   8
      2      9  10  11

TypeError: '(['bj'], ['a'])' is an invalid key

In [50]:
#交换顺序
df5.swaplevel('zone1','zone2')

city        bj      sz
color        G   R   G
zone2 zone1
1     a      0   1   2
2     a      3   4   5
1     b      6   7   8
2     b      9  10  11

In [59]:
#sum 虽然并不知道这个是干什么用的
df5.sum(level='color',axis=1)

color         G   R
zone1 zone2
a     1       2   1
      2       8   4
b     1      14   7
      2      20  10

In [68]:
#set_index() 也并不知道是干什么用的
df6 = DataFrame({'a':range(7),'b':range(7,0,-1),'c':['one','one','one','one','two','two','two'],'d':['0','1','2','0','1','2','3']})
df7  = df6.set_index(['c','d']) #将其余列都隐藏了，只是留下了c列和d列
print('df6:\n',df6)
print('df7:\n',df7)

#reset_index()
df8 = df7.reset_index()
print('df8:\n',df8)

df6:
    a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  one  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3
df7:
        a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
    0  3  4
two 1  4  3
    2  5  2
    3  6  1
df8:
      c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  one  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1