In [2]:
import pandas as pd
from pandas import Series #Series要大写
import numpy as np
obj_series = Series([1,-3,5,-7.])
print(obj_series)
print(type(obj_series))

0    1.0
1   -3.0
2    5.0
3   -7.0
dtype: float64
<class 'pandas.core.series.Series'>

In [11]:
#打印出Series的值
obj_series.values
#打印出Series全部索引
obj_series.index
#返回某个特定index的值
obj_series[2]
#返回某个范围的值，就像对列表进行切片一样
obj_series[2:]
#对Series中的值进行布尔判断
obj_series>0
#返回大于0的值，直接用条件判断
obj_series[obj_series>0]

0    1.0
2    5.0
dtype: float64

In [ ]:
#自定义index
obj_series_index = Series([1,-3,5,-7],index=['a','b','c','d'])
print(obj_series_index)
obj_series_index['b']

In [13]:
#算数
#乘法
obj_series*5
#加法
obj_series_index+1111

a    1112
b    1108
c    1116
d    1104
dtype: int64

In [20]:
#用字典创建Series
salary = {'beijing':20000,'shenzhen':18000,'shanghai':18000,'guangzhou':12000}
salary_series = Series(salary)
print(salary_series)
#用in查询Series中的值是否存在
'shanghai' in salary_series

beijing      20000
guangzhou    12000
shanghai     18000
shenzhen     18000
dtype: int64

True

In [24]:
#如何加入一个新的城市？
#创建一个新的城市标签
new_city_label =['beijing','shenzhen','shanghai','guangzhou','hangzhou']
new_salary_series = Series(salary_series,index = new_city_label)
print(new_salary_series)
#新的标签改变了位置的话，原始数据也会自动改变
new_city_label2=['guangzhou','shenzhen','shanghai','beijing','hangzhou']
new_salary_series2 = Series(salary_series,index = new_city_label2)
print(new_salary_series2)

beijing      20000.0
shenzhen     18000.0
shanghai     18000.0
guangzhou    12000.0
hangzhou         NaN
dtype: float64
guangzhou    12000.0
shenzhen     18000.0
shanghai     18000.0
beijing      20000.0
hangzhou         NaN
dtype: float64

In [25]:
#判断Series中的值是否为空值
pd.isnull(new_salary_series)
pd.notnull(new_salary_series)

beijing       True
shenzhen      True
shanghai      True
guangzhou     True
hangzhou     False
dtype: bool

In [28]:
#命名
new_salary_series.name = 'salary'  #给整个Series命名，即这个Series里面的值代表的是什么，这里是工资
new_salary_series.index.name = 'city' #给index命名
print(new_salary_series)

city
beijing      20000.0
shenzhen     18000.0
shanghai     18000.0
guangzhou    12000.0
hangzhou         NaN
Name: salary, dtype: float64