In [12]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import numpy as np
df = DataFrame(np.arange(8).reshape(2,4),index = ["three","one"],columns=['d','a','b','c'])
print('df: \n',df)

df:
        d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [ ]:
#排序，只是对index进行排序

In [9]:
df.sort_index() #默认对index排序

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [10]:
df.sort_index(ascending=False) #对index倒序

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [6]:
df.sort_index(axis=1) #axis不能=2，即只能对a,b,c,d进行排序，即只能对第一列

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [8]:
df.sort_index(axis=1,ascending = False) #倒序

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [ ]:
#排名，即对值进行排序

In [13]:
s = Series([7.,-5,10,2,0,12])
print("s: \n",s)

s:
 0     7.0
1    -5.0
2    10.0
3     2.0
4     0.0
5    12.0
dtype: float64

In [14]:
s.rank()  #排出一个按照值来排序的东西，
#即第5个数（原来的index=5）是原来的数中最大的，所以现在的值是6，而index=1的数字是原来的数组中最小的，所以现在的排名是1
#还有其他的排序方式，可查看API

0    4.0
1    1.0
2    5.0
3    3.0
4    2.0
5    6.0
dtype: float64

In [ ]:
#重复索引，即同一个索引出现两次及以上